modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[env]
NODE_OPTIONS = "--max-old-space-size=1024"

[build]
cacheDirectories = ["node_modules", ".next"]

[deploy]
run = ["bash", "-c", "npm run build && npm run start"]

[[ports]]
localPort = 3000
externalPort = 80
